/* -----------------------------------------------MAIN---------------------------------------------------------- */
/*-style <main> content section of HOME page--*/
main {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    /* 4x font-size(16px) */
    background-color: #776258;
}

/* ---------------------------------------------HERO CONTAINER ----------------------------------------*/
#left-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text-box {
    color: rgb(33, 23, 37);
    width: 45rem;
    /* 45xfontsize(16px) */

}

#offers-link {
    text-decoration: none;
    color: #ADB2D3;
    position: relative;
    /* Needed for pseudo-element positioning */
    transition: color .3s ease, transform 0.3s ease;
}

#offers-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #4b014b, #8b008b);
    /* Gradient from dark to vibrant purple */
    transition: width 0.4s ease;
    /* Smooth sweep animation */
}

#offers-link:hover {
    cursor: pointer;
    color: #2f1408;
}

#offers-link:hover::after {
    width: 100%;
    /* Underline sweeps to full width */
}

#hero-image {
    border-radius: 8px;
    /* Slight rounding */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    animation: fadeIn 1.5s ease out forward;
    position: relative;
    max-width: 100%;
    /* ensures responsiveness */
}

#hero-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ADB2D3;
    /* slight zoom on hover  */
}

.trending-products {
    display: grid;
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: #fff5f8;
}

.trending-products h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}